* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f9fc;
  color: #003b5c;
}

/* Navbar */

.navbar {
  background-color: #003b5c;
  color: white;
  padding: 20px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  font-size: 26px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links span {
  color: #6cc4e8;
  cursor: pointer;
}

/* Home */

.home {
  min-height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: white;
}

.home h1 {
  color: #003b5c;
  font-size: 40px;
  margin-bottom: 15px;
}

.home p {
  color: #003b5c;
  font-size: 18px;
  margin-bottom: 25px;
}

.home button {
  background-color: #6cc4e8;
  color: #003b5c;

  border: none;
  padding: 12px 25px;

  font-size: 16px;
  font-weight: bold;

  border-radius: 5px;
  cursor: pointer;
}

/* About */

.about {
  padding: 70px 20px;
  text-align: center;

  background-color: #6cc4e8;
  color: #003b5c;
}

.about h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.about p {
  font-size: 17px;
}

/* Footer */

.footer {
  background-color: #003b5c;
  color: white;

  text-align: center;
  padding: 25px;
}